# IDE
.idea/
.vs/

# Node Modules
node_modules/
npm-debug.log

# Foundry
*.lock
jsconfig.json
foundry

# Boilerplate
build/

# Ignorar arquivos de trava de banco de dados do Foundry
LOCK
*/LOCK
**/**/LOCK